Source: drinklist-cli
Package: drinklist-cli
Maintainer: Marcial Gaissert <drinklist-cli@gaisseml.de>
Version: %%VERSION%%
Section: unknown
Priority: optional
Architecture: all
Depends: python3.7, python3-requests, python3-numpy, python3-appdirs
Description: Command line interface for the FIUS Drinklist
 Provides a command line utility to interact with the
 FIUS drinklist (https://github.com/FIUS/drinklist).
