# Maintainer: Marcial Gaißert <drinklist-cli@gaisseml.de>
pkgname=drinklist-cli
pkgver=master
pkgrel=2
pkgdesc="A CLI for the FIUS drinklist"
arch=('any')
url="https://github.com/FIUS/drinklist-cli"
license=('GPL')
depends=(python python-requests python-numpy python-appdirs)
source=("%%TARBALL_URL%%")
sha256sums=('%%TARBALL_SHA256SUM%%')

build() {
    cd "$srcdir/$pkgname-$pkgver"
    ./build.sh
}

package() {
    cd "$srcdir/$pkgname-$pkgver"
    make install DESTDIR=$pkgdir
}
